#editor_holder IndentedPanel {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #ccc;
}
#editor_holder FormInputDescription {
	font-size: .8em;
	margin: 0;
	display: inline-block;
	font-styl: italic;
}
