@charset "UTF-8";
html { overflow-y: scroll; font-family: serif; }
body { font-size: 1.2em; display: block; }
body.request main { background-color: aliceblue; }
[aria-hidden="true"] { visibility: hidden; }
[role='alert'] { background-color: lightgoldenrodyellow; }
button { cursor: pointer; }
body > header { padding: 1em 2em; }
body > header > h1 { margin: 0; }
nav a { margin-right: 1.5em; }
a { text-decoration: none; }
a:visited { color: blue; }
a:active { color: white; }
a:hover { text-decoration: underline; }
main { padding: 1em 2em; }
footer { padding: 1em; color: #888; }
summary { cursor: pointer; }
summary:focus { outline: none; }
ul { margin: 0; padding: 1em 2em; }
/*Details*/
.details {
  float: right;
  background: #E6E6E6;
  font-size: smaller; }
.details > .summary {
  cursor: pointer;
  margin: 0; padding: .5em;
  background: #888;
  color: white;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }
.details > .summary:before {
  display: inline-block;
  width: 1.3em;
  font-size: small;
  content: "►"; }
.details > *:not(.summary) { display: none; }
.details[open] > .summary:before { content: "▼"; }
.details[open] > * { display: block; }
/*Jsoneditor*/
#editor_holder .IndentedPanel {
  padding-left: 10px; margin-left: 10px;
  border-left: 1px solid #ccc; }
#editor_holder .FormInputDescription {
  font-size: .8em;
  margin: 0;
  display: inline-block;
  font-style: italic; }
.tabs { color: blue; width: auto; }
.markTabInactive { opacity: 0.5; }
.content { margin-left: 250px; }
