html { overflow-y: scroll; }
body[hidden] { font-size: 1.2em; padding: 0em 1em; display: block; }
a:visited { color: blue; text-decoration: none; }
a:active { color: white; }
a:hover { text-decoration: underline; }
h1 a, h1 a:visited { color: inherit; }
main { padding: 1em; }
summary { cursor: pointer; }
summary:focus { outline: none; }
